---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "../styles/reset.scss"
import "../styles/global.scss"
import "../styles/fonts.scss"

interface Props {
	title: string
	description: string
}

const { title, description } = Astro.props
---

<meta charset="utf-8" />
<title>{title}</title>
<meta name="description" content={description} />

<!-- Futura, Medium -->
<link
	rel="preload"
	href="https://use.typekit.net/af/2cd6bf/00000000000000000001008f/27/l?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=n5&v=3"
	as="font"
	type="font/woff2"
	crossorigin
/>

<!-- Meta Serif Pro, Book -->
<link
	rel="preload"
	href="https://use.typekit.net/af/3058a4/0000000000000000773599a9/30/l?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=n5&v=3"
	as="font"
	type="font/woff2"
	crossorigin
/>

<!-- Meta Pro, Regular -->
<link
	rel="preload"
	href="https://use.typekit.net/af/52375b/0000000000000000773599ca/30/l?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=n4&v=3"
	as="font"
	type="font/woff2"
	crossorigin
/>

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="manifest" href="/manifest.webmanifest" />
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#2b5797" />

<meta name="msapplication-TileColor" content="#2b5797" />

<meta name="theme-color" content="#1D1F23" />

<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta
	name="google-site-verification"
	content="c-0_GIsBdbjMxa6c8zqKnVYWN9oOBo743cJEGG6fgp8"
/>

<style is:inline is:global>
	:root {
		--font-meta-serif: ff-meta-serif-web-pro, ff-meta-serif-web-pro-fallback;
		--font-futura: futura-pt, futura-pt-fallback;
		--font-meta-pro: ff-meta-web-pro, ff-meta-web-pro-fallback;

		--color-background: hsl(222deg, 15%, 95%);
		--color-background-offset-close: hsl(222deg, 15%, 92.5%);
		--color-background-offset: hsl(222deg, 15%, 90%);
		--color-background-offset-far: hsl(222deg, 15%, 87.5%);
		--color-background-offset-further: hsl(222deg, 15%, 85%);
		--color-background-offset-furthest: hsl(222deg, 15%, 82.5%);

		--color-boxshadow: 0deg 0% 0%;

		--color-foreground: hsl(222deg, 15%, 10%);
		--color-foreground-emphasis: hsl(0deg, 0%, 0%);
		--color-foreground-medium: hsl(222deg, 15%, 40%);
		--color-foreground-light: hsl(222deg, 15%, 55%);

		--color-highlight-intense: hsl(222deg, 65%, 35%);
		--color-highlight-medium: hsl(222deg, 65%, 35%);
		--color-highlight-focus: hsla(222deg, 65%, 35%, 10%);

		--color-text-selection: hsl(222deg 100% 85%);

		--font-text: var(--font-meta-pro);
		--font-headline: var(--font-futura);
		--font-description: var(--font-meta-serif);
		--font-navigation: var(--font-futura);
		--font-ui-label: var(--font-futura);

		--font-article-title: var(--font-meta-serif);
		--font-article-metadata: var(--font-futura);
		--font-article-text: var(--font-meta-pro);

		--font-settings: var(--font-futura);

		--page-padding: 30px;
		--content-width: 600px;
		--base-font-size: 16px;
	}

	.dark-theme {
		--color-page-background: hsl(222deg, 10%, 15%);

		--color-background: hsl(222deg, 10%, 10%);
		--color-background-offset-close: hsl(222deg, 10%, 12.5%);
		--color-background-offset: hsl(222deg, 10%, 15%);
		--color-background-offset-far: hsl(222deg, 10%, 17.5%);
		--color-background-offset-further: hsl(222deg, 10%, 20%);
		--color-background-offset-furthest: hsl(222deg, 10%, 22.5%);

		--color-boxshadow: 0deg 0% 0%;

		--color-foreground: hsl(222deg, 10%, 90%);
		--color-foreground-emphasis: hsl(0deg, 0%, 100%);
		--color-foreground-medium: hsl(222deg, 5%, 65%);
		--color-foreground-light: hsl(222deg, 5%, 40%);

		--color-highlight-intense: hsl(333deg, 100%, 60%);
		--color-highlight-medium: hsl(333deg, 90%, 50%);
		--color-highlight-focus: hsla(333deg, 100%, 60%, 10%);

		--color-text-selection: hsl(333deg, 90%, 40%);
	}

	@media (prefers-color-scheme: dark) {
		:root {
			--color-background: hsl(222deg, 10%, 10%);
			--color-background-offset-close: hsl(222deg, 10%, 12.5%);
			--color-background-offset: hsl(222deg, 10%, 15%);
			--color-background-offset-far: hsl(222deg, 10%, 17.5%);
			--color-background-offset-further: hsl(222deg, 10%, 20%);
			--color-background-offset-furthest: hsl(222deg, 10%, 22.5%);

			--color-boxshadow: 0deg 0% 0%;

			--color-foreground: hsl(222deg, 10%, 90%);
			--color-foreground-emphasis: hsl(0deg, 0%, 100%);
			--color-foreground-medium: hsl(222deg, 5%, 65%);
			--color-foreground-light: hsl(222deg, 5%, 40%);

			--color-highlight-intense: hsl(333deg, 100%, 60%);
			--color-highlight-medium: hsl(333deg, 90%, 50%);
			--color-highlight-focus: hsla(333deg, 100%, 60%, 10%);

			--color-text-selection: hsl(333deg, 90%, 40%);
		}

		.light-theme {
			--color-page-background: hsl(222deg, 10%, 80%);

			--color-background: hsl(222deg, 15%, 95%);
			--color-background-offset-close: hsl(222deg, 15%, 92.5%);
			--color-background-offset: hsl(222deg, 15%, 90%);
			--color-background-offset-far: hsl(222deg, 15%, 87.5%);
			--color-background-offset-further: hsl(222deg, 15%, 85%);
			--color-background-offset-furthest: hsl(222deg, 15%, 82.5%);

			--color-boxshadow: 0deg 0% 0%;

			--color-foreground: hsl(222deg, 15%, 10%);
			--color-foreground-emphasis: hsl(0deg, 0%, 0%);
			--color-foreground-medium: hsl(222deg, 15%, 40%);
			--color-foreground-light: hsl(222deg, 15%, 55%);

			--color-highlight-intense: hsl(222deg, 65%, 35%);
			--color-highlight-medium: hsl(222deg, 65%, 35%);
			--color-highlight-focus: hsla(222deg, 65%, 35%, 10%);

			--color-text-selection: hsl(222deg 100% 85%);
		}
	}

	::selection {
		background-color: var(--color-text-selection);
	}

	html {
		box-sizing: border-box;
		background-color: var(--color-background-offset-close);
		color: var(--color-foreground);
		transition: background-color linear 200ms;
	}

	/* Ensure overscroll looks neat */
	@media screen and (min-width: 1050px) {
		html:after {
			content: "";

			position: fixed;

			z-index: -1;

			bottom: 0;
			left: 0;
			right: 0;

			height: 50vh;

			background: var(--color-background);
		}
	}
</style>
