---
import { ClientRouter } from "astro:transitions"
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "../styles/reset.scss"
import "../styles/global.scss"
import "../styles/fonts.scss"

interface Props {
	title: string
	description: string
}

const { title, description } = Astro.props
---

<meta charset="utf-8" />
<title>{title}</title>
<meta name="description" content={description} />

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="manifest" href="/manifest.webmanifest" />
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#2b5797" />

<meta name="msapplication-TileColor" content="#2b5797" />

<meta
	name="theme-color"
	content="#E9EBEF"
	media="(prefers-color-scheme: light)"
/>
<meta
	name="theme-color"
	content="#1D1F23"
	media="(prefers-color-scheme: dark)"
/>

<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta
	name="google-site-verification"
	content="c-0_GIsBdbjMxa6c8zqKnVYWN9oOBo743cJEGG6fgp8"
/>

<style is:inline is:global>
	:root {
		color-scheme: light dark;

		--font-izoard: Izoard, Izoard Fallback;
		--font-plex-serif: IBM Plex Serif, IBM Plex Serif Fallback;
		--font-supreme: Supreme, Supreme Fallback;
		--font-berkeley-mono: Berkeley Mono, monospace;

		--color-page-background: light-dark(
			hsl(222deg, 10%, 80%),
			hsl(222deg, 10%, 15%)
		);

		--color-background: light-dark(
			hsl(222deg, 15%, 95%),
			hsl(222deg, 10%, 10%)
		);
		--color-background-offset-close: light-dark(
			hsl(222deg, 15%, 92.5%),
			hsl(222deg, 10%, 12.5%)
		);
		--color-background-offset: light-dark(
			hsl(222deg, 15%, 90%),
			hsl(222deg, 10%, 15%)
		);
		--color-background-offset-far: light-dark(
			hsl(222deg, 15%, 87.5%),
			hsl(222deg, 10%, 17.5%)
		);
		--color-background-offset-further: light-dark(
			hsl(222deg, 15%, 85%),
			hsl(222deg, 10%, 20%)
		);
		--color-background-offset-furthest: light-dark(
			hsl(222deg, 15%, 82.5%),
			hsl(222deg, 10%, 22.5%)
		);

		--color-boxshadow: light-dark(0deg 0% 0%, 0deg 0% 0%);

		--color-foreground: light-dark(
			hsl(222deg, 15%, 10%),
			hsl(222deg, 10%, 90%)
		);
		--color-foreground-emphasis: light-dark(
			hsl(0deg, 0%, 0%),
			hsl(0deg, 0%, 100%)
		);
		--color-foreground-medium: light-dark(
			hsl(222deg, 15%, 40%),
			hsl(222deg, 5%, 65%)
		);
		--color-foreground-light: light-dark(
			hsl(222deg, 15%, 55%),
			hsl(222deg, 5%, 40%)
		);

		--color-highlight-intense: light-dark(
			hsl(222deg, 65%, 35%),
			hsl(333deg, 100%, 60%)
		);
		--color-highlight-medium: light-dark(
			hsl(222deg, 65%, 35%),
			hsl(333deg, 90%, 50%)
		);
		--color-highlight-focus: light-dark(
			hsla(222deg, 65%, 35%, 10%),
			hsla(333deg, 100%, 60%, 10%)
		);

		--color-text-selection: light-dark(
			hsl(222deg 100% 85%),
			hsl(333deg, 90%, 40%)
		);

		--font-text: var(--font-supreme);
		--font-headline: var(--font-izoard);
		--font-description: var(--font-plex-serif);
		--font-navigation: var(--font-izoard);
		--font-ui-label: var(--font-izoard);

		--font-article-title: var(--font-plex-serif);
		--font-article-metadata: var(--font-izoard);
		--font-article-text: var(--font-supreme);

		--font-settings: var(--font-izoard);

		--page-padding: 30px;
		--content-width: 600px;
		--base-font-size: 16px;
	}

	.light-theme {
		color-scheme: light;
	}

	.dark-theme {
		color-scheme: dark;
	}

	::selection {
		background-color: var(--color-text-selection);
	}

	html {
		box-sizing: border-box;
		background-color: var(--color-background-offset-close);
		color: var(--color-foreground);
		transition: background-color linear 200ms;
	}

	html:after {
		content: "";

		position: fixed;

		z-index: -1;

		bottom: -25vh;
		left: 0;
		right: 0;

		height: 50vh;
	}

	/* Ensure overscroll looks neat */
	@media screen and (max-width: 1049px) {
		html:after {
			background: var(--color-background-offset-close);
		}
	}

	@media screen and (min-width: 1050px) {
		html:after {
			background: var(--color-background);
		}
	}
</style>

<ClientRouter fallback="swap" />
