---
// import { header, logo, logoName, logoSlogan, navigation, navigationLink, settings} from "./Header.css"

import Settings from "@components/Settings.astro"

const navigationItems = [
	{
		name: "Thoughts & Insights",
		url: "/blog/",
	},
	{
		name: "About me",
		url: "/about/",
	},
]
---

<header>
	<div class="sizeContainer">
		<a id="logo" href="/">
			<svg id="name" width="195" height="16" xmlns="http://www.w3.org/2000/svg">
				<title>Alexander Trefz</title>
				<path
					d="M2.794 16l.924-2.772h6.556L11.198 16h2.354L8.184.6H5.808L.44 16h2.354zm6.776-4.862H4.422l2.574-7.744 2.574 7.744zM25.058 16v-2.09h-6.886V.6h-2.31V16h9.196zm12.474 0v-2.09h-7.414V9.268h6.864v-2.09h-6.864V2.69h7.414V.6h-9.724V16h9.724zm4.686 0l3.674-5.764L49.566 16h2.706l-5.038-7.854L52.052.6h-2.64l-3.52 5.478L42.372.6h-2.64l4.818 7.546L39.512 16h2.706zm13.288 0l.924-2.772h6.556L63.91 16h2.354L60.896.6H58.52L53.152 16h2.354zm6.776-4.862h-5.148l2.574-7.744 2.574 7.744zM70.774 16V4.956L78.012 16h1.87V.6h-2.2l-.022 11.088L70.444.6h-1.87V16h2.2zm19.228 0c3.828 0 4.906-1.914 4.906-4.818V5.418C94.908 2.514 93.83.6 90.002.6h-6.38V16h6.38zm-.154-2.134h-3.916V2.734h3.916c2.222 0 2.75.792 2.75 2.772v5.61c0 1.936-.528 2.75-2.75 2.75zM108.042 16v-2.09h-7.414V9.268h6.864v-2.09h-6.864V2.69h7.414V.6h-9.724V16h9.724zm5.72 0V9.268h2.376l3.52 6.732h2.618l-3.74-6.842c2.42-.418 3.366-1.98 3.366-4.026v-.44c0-2.42-1.298-4.092-4.73-4.092h-5.72V16h2.31zm3.586-8.822h-3.586V2.69h3.542c1.54 0 2.288.77 2.288 1.958v.506c0 1.188-.726 2.024-2.244 2.024zM137.368 16V2.69h4.488V.6h-11.308v2.09h4.51V16h2.31zm9.548 0V9.268h2.376l3.52 6.732h2.618l-3.74-6.842c2.42-.418 3.366-1.98 3.366-4.026v-.44c0-2.42-1.298-4.092-4.73-4.092h-5.72V16h2.31zm3.586-8.822h-3.586V2.69h3.542c1.54 0 2.288.77 2.288 1.958v.506c0 1.188-.726 2.024-2.244 2.024zM168.124 16v-2.09h-7.414V9.268h6.864v-2.09h-6.864V2.69h7.414V.6H158.4V16h9.724zm5.72 0V9.422h6.864v-2.09h-6.864V2.69h7.414V.6h-9.724V16h2.31zm20.658 0v-2.09h-7.04L194.7.6h-10.736v2.09h6.974L183.568 16h10.934z"
					fill-rule="nonzero"></path>
			</svg>
			<svg
				id="slogan"
				width="195"
				height="10"
				xmlns="http://www.w3.org/2000/svg"
			>
				<title>Refining Software since 2010</title>
				<path
					d="M1.28 9V5.328h1.296L4.496 9h1.428l-2.04-3.732c1.32-.228 1.836-1.08 1.836-2.196v-.24C5.72 1.512 5.012.6 3.14.6H.02V9h1.26zm1.956-4.812H1.28V1.74h1.932c.84 0 1.248.42 1.248 1.068v.276c0 .648-.396 1.104-1.224 1.104zM12.848 9V7.86H8.804V5.328h3.744v-1.14H8.804V1.74h4.044V.6H7.544V9h5.304zm3.12 0V5.412h3.744v-1.14h-3.744V1.74h4.044V.6h-5.304V9h1.26zm6.544 0V.6h-1.26V9h1.26zm3.34 0V2.976L29.8 9h1.02V.6h-1.2l-.012 6.048L25.672.6h-1.02V9h1.2zm8.368 0V.6h-1.26V9h1.26zm3.34 0V2.976L41.508 9h1.02V.6h-1.2l-.012 6.048L37.38.6h-1.02V9h1.2zm9.672.12c1.992 0 3.156-1.08 3.156-2.328V4.188h-3.156v1.14h1.896v1.464c0 .756-.852 1.188-1.896 1.188s-1.884-.432-1.884-1.188V2.808c0-.756.84-1.188 1.884-1.188s1.896.432 1.896 1.188v.372h1.26v-.372c0-1.248-1.164-2.328-3.156-2.328-1.992 0-3.144 1.08-3.144 2.328v3.984c0 1.248 1.152 2.328 3.144 2.328zm14.27 0c1.751 0 2.963-1.02 2.963-2.148v-1.08c0-1.14-.756-1.752-1.848-1.752h-2.232c-.372 0-.588-.216-.588-.588v-.924c0-.636.78-1.008 1.704-1.008.924 0 1.704.372 1.704 1.008V3h1.26v-.372C64.465 1.5 63.253.48 61.501.48s-2.964 1.02-2.964 2.148v.948c0 1.14.756 1.752 1.848 1.752h2.232c.372 0 .588.216.588.588v1.056c0 .636-.78 1.008-1.704 1.008-.924 0-1.704-.372-1.704-1.008v-.396h-1.26v.396c0 1.128 1.212 2.148 2.964 2.148zm7.787 0c1.992 0 3.156-1.08 3.156-2.328V2.808C72.445 1.56 71.281.48 69.29.48c-1.992 0-3.144 1.08-3.144 2.328v3.984c0 1.248 1.152 2.328 3.144 2.328zm0-1.14c-1.044 0-1.884-.432-1.884-1.188V2.808c0-.756.84-1.188 1.884-1.188s1.896.432 1.896 1.188v3.984c0 .756-.852 1.188-1.896 1.188zM75.565 9V5.412h3.744v-1.14h-3.744V1.74h4.044V.6h-5.304V9h1.26zm8.964 0V1.74h2.448V.6H80.81v1.14h2.46V9h1.26zm6.828 0l1.656-6.552L94.705 9h1.464L98.33.6h-1.344l-1.548 6.612L93.721.6h-1.428L90.59 7.212 89.041.6h-1.344l2.16 8.4h1.5zm8.736 0l.504-1.512h3.576L104.677 9h1.284L103.033.6h-1.296L98.81 9h1.284zm3.696-2.652h-2.808l1.404-4.224 1.404 4.224zM108.481 9V5.328h1.296L111.697 9h1.428l-2.04-3.732c1.32-.228 1.836-1.08 1.836-2.196v-.24c0-1.32-.708-2.232-2.58-2.232h-3.12V9h1.26zm1.956-4.812h-1.956V1.74h1.932c.84 0 1.248.42 1.248 1.068v.276c0 .648-.396 1.104-1.224 1.104zM120.05 9V7.86h-4.044V5.328h3.744v-1.14h-3.744V1.74h4.044V.6h-5.304V9h5.304zm10.626.12c1.752 0 2.964-1.02 2.964-2.148v-1.08c0-1.14-.756-1.752-1.848-1.752h-2.232c-.372 0-.588-.216-.588-.588v-.924c0-.636.78-1.008 1.704-1.008.924 0 1.704.372 1.704 1.008V3h1.26v-.372c0-1.128-1.212-2.148-2.964-2.148s-2.964 1.02-2.964 2.148v.948c0 1.14.756 1.752 1.848 1.752h2.232c.372 0 .588.216.588.588v1.056c0 .636-.78 1.008-1.704 1.008-.924 0-1.704-.372-1.704-1.008v-.396h-1.26v.396c0 1.128 1.212 2.148 2.964 2.148zm6.084-.12V.6h-1.26V9h1.26zm3.24 0V2.976L143.947 9h1.02V.6h-1.2l-.012 6.048L139.819.6h-1.02V9h1.2zm9.936.12c1.992 0 3.12-1.08 3.12-2.328V6.42h-1.26v.372c0 .756-.816 1.188-1.86 1.188s-1.848-.432-1.848-1.188V2.808c0-.756.804-1.188 1.848-1.188s1.86.432 1.86 1.188v.372h1.26v-.372c0-1.248-1.128-2.328-3.12-2.328-1.992 0-3.108 1.08-3.108 2.328v3.984c0 1.248 1.116 2.328 3.108 2.328zM159.979 9V7.86h-4.044V5.328h3.744v-1.14h-3.744V1.74h4.044V.6h-5.304V9h5.304zM173.4 9V7.776h-4.056l2.82-2.28c.816-.6 1.236-1.224 1.236-2.028v-.564c0-1.248-.984-2.424-2.976-2.424s-2.964 1.176-2.964 2.424V3.3h1.26v-.396c0-.756.66-1.284 1.704-1.284s1.716.528 1.716 1.284v.564c0 .42-.204.732-.552 1.032l-4.008 3.276V9h5.82zm4.644.12c2.04 0 3.036-1.14 3.036-2.388V2.868c0-1.248-1.044-2.388-3.036-2.388s-3.024 1.14-3.024 2.388v3.864c0 1.248 1.032 2.388 3.024 2.388zm0-1.14c-1.044 0-1.764-.492-1.764-1.248V2.868c0-.756.72-1.248 1.764-1.248s1.776.492 1.776 1.248v3.864c0 .756-.732 1.248-1.776 1.248zM185.88 9V.6h-1.26l-1.98.84V2.7l1.98-.84V9h1.26zm5.124.12c2.04 0 3.036-1.14 3.036-2.388V2.868c0-1.248-1.044-2.388-3.036-2.388s-3.024 1.14-3.024 2.388v3.864c0 1.248 1.032 2.388 3.024 2.388zm0-1.14c-1.044 0-1.764-.492-1.764-1.248V2.868c0-.756.72-1.248 1.764-1.248s1.776.492 1.776 1.248v3.864c0 .756-.732 1.248-1.776 1.248z"
					fill-rule="nonzero"
					opacity=".5"></path>
			</svg>
		</a>
		<nav>
			{
				navigationItems.map((item) => {
					return (
						<a
							aria-label={item.name}
							class:list={{ active: Astro.url.pathname === item.url }}
							href={item.url}
						>
							{item.name}
						</a>
					)
				})
			}
		</nav>
		<div class="settings">
			<Settings />
		</div>
	</div>
</header>

<style lang="scss">
	header {
		position: sticky;
		top: 0;
		z-index: 1;

		display: grid;

		background-color: var(--color-background-offset-close);
		border-bottom: 1px solid var(--color-background-offset);

		transition: background-color linear 200ms, border-color linear 200ms;

		.sizeContainer {
			display: grid;
			position: relative;

			justify-self: center;

			gap: 20px;

			max-width: 1100px;
			width: 100%;
		}

		#logo {
			position: relative;
			grid-area: logo;

			display: grid;
			gap: 8px;

			height: 38px;
			max-width: max-content;

			#name path {
				fill: var(--color-highlight-medium);
			}

			#slogan path {
				opacity: 0.5;
				fill: var(--color-foreground-medium);
			}

			&::before {
				opacity: 0;
				pointer-events: none;
				content: "";
				position: absolute;
				inset: -12px -10px;
				border-radius: 5px;
				border: 1px solid var(--color-highlight-intense);
				background: var(--color-highlight-focus);

				transition: opacity linear 200ms;
			}

			&:focus-visible {
				outline: none;
				box-shadow: none;

				&::before {
					opacity: 1;
				}
			}
		}

		nav {
			grid-area: navigation;
			align-items: center;

			-webkit-user-select: none;
			user-select: none;

			a {
				position: relative;
				display: inline-block;
				font-family: var(--font-navigation);
				font-weight: 500;
				font-feature-settings: "cpsp";

				text-decoration: none;
				text-transform: uppercase;

				color: var(--color-foreground);

				transition: color linear 200ms, font-size linear 200ms;

				&:hover {
					color: var(--color-highlight-medium);
				}

				&.active {
					color: var(--color-highlight-medium);
				}

				&::before {
					opacity: 0;
					pointer-events: none;
					content: "";
					position: absolute;
					inset: -8px -10px;
					border-radius: 5px;
					border: 1px solid var(--color-highlight-intense);
					background: var(--color-highlight-focus);
					transition: opacity linear 200ms;
				}

				&:focus-visible {
					position: relative;
					outline: none;
					box-shadow: none;

					&::before {
						opacity: 1;
					}
				}
			}
		}

		.settings {
			grid-area: settings;
		}
	}

	@media screen and (min-width: 500px) {
		.sizeContainer {
			grid-auto-flow: column;
			justify-content: space-between;
			padding: 30px 30px 25px;

			grid-template-areas: "logo navigation settings";
			grid-template-columns: 1fr max-content max-content;

			nav {
				display: grid;
				grid-auto-flow: column;
				gap: 30px;
				padding: 10px;

				a {
					font-size: 16px;
				}
			}
		}
	}

	@media screen and (min-width: 800px) {
		header {
			nav {
				a {
					font-size: 17px;
				}
			}
		}
	}

	@media screen and (min-width: 850px) {
		header {
			nav {
				a {
					font-size: 18px;
				}
			}
		}
	}

	@media screen and (min-width: 970px) {
		.sizeContainer {
			grid-template-areas: "logo navigation";
			grid-template-columns: 1fr max-content;

			.settings {
				position: absolute;
				right: 30px;
				top: calc(100% + 30px);
			}
		}
	}

	@media screen and (min-width: 600px) and (max-width: 649px) {
		.sizeContainer {
			gap: 15px;

			nav {
				gap: 15px;
				padding: 0px;
				align-items: center;

				a {
					font-size: 16px;
				}
			}
		}
	}

	@media screen and (max-width: 599px) {
		.sizeContainer {
			padding: 20px;

			grid-template-areas:
				"logo       settings"
				"navigation settings";
			grid-template-columns: 1fr max-content;
			grid-template-rows: max-content max-content;
			gap: 20px;

			nav {
				display: grid;
				grid-auto-flow: column;
				gap: 20px;
				padding: 0px;
				justify-content: start;
			}
		}
	}

	@media screen and (max-width: 499px) {
		.sizeContainer {
			grid-template-areas:
				"logo       settings"
				"navigation navigation";
			grid-template-columns: 1fr max-content;
			grid-template-rows: max-content max-content;
			gap: 20px;

			nav {
				a {
					font-size: 14px;
				}
			}
		}
	}
</style>
