<h1>
	<slot />
</h1>

<style lang="scss">
	h1 {
		font-family: var(--font-headline);
		font-weight: 600;
		font-feature-settings: "cpsp";

		text-transform: uppercase;
		text-align: center;

		@media screen and (max-width: 399px) {
			font-size: calc(var(--base-font-size) * 1.4);
		}

		@media screen and (min-width: 400px) and (max-width: 749px) {
			font-size: calc(var(--base-font-size) * 1.6);
		}

		@media screen and (min-width: 750px) {
			font-size: calc(var(--base-font-size) * 1.7);
		}
	}
</style>
